DATABASE_URL="postgres://postgres:123@localhost:5432/sistema_modelo?schema=public"

#URL onde fica o front end
URL_APP="http://localhost:3001"

PORT=3000
JWT_SECRET="seu_segredo_jwt"

# Email SMTP (para recuperação de senha)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=robertlindomar18@gmail.com
SMTP_PASS=hivr jplk kyjl ymld
SMTP_FROM="Sistema Modelo" <robertlindomar18@gmail.com>


NOME_ADMIN="Admin Sistema"
EMAIL_ADMIN="admin@sistema.com"
SENHA_ADMIN="123456"

